@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);


body{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-board-jj-112-g.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=b938fa19bee650b2eccf75c912c119a4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    color: white;
    font-family: "Walter Turncoat", cursive;
}
