.cal-body{
    width: 240px;
    height: 380px;
    background-color: #555555;
    margin: 0 auto;
    border: 8px solid black;
    border-radius: 20px;
}

.output{
    width: 100%;
}

.buttons{
    margin-top: 10px;
}
#output-value{
    width: 92%;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #555555;
    height: 60px;
    font-size: 40px;
    color: white;
    text-align: right;
}

.operator, .number, .empty{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    border-width: 0;
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.operator{
    border: 2px solid black;
    background-color: rgb(219, 219, 219);
}
.number{
    background-color:black; 
    color: white;
    font-size: 30px;
    border: 2px solid rgb(219, 219, 219);
}

.number,.operator{
    cursor: pointer;
}
