body{
    background-image: url(https://img.freepik.com/free-photo/old-grunge-dark-textured-wooden-background-surface-old-brown-wood-texture_7182-333.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    text-align: center;
}

.tododiv{
    background-color: #FFFFE6;
    border-radius: 20px;
}

/* ul{
    list-style: none;
} */

.done{
    text-decoration: line-through;
}