body{
    background-image: url(https://lh3.googleusercontent.com/proxy/9o3bx-Vx416p9MVOKAf-nJzCjxcPv1Viwv9ooqo3veHB6Pp7fwZJ73PTw_AnGBU78qFbf5qetiztuUUesGJFrO0q3QpfLui1GH0PeEl6ncnE2q59uwcKBiVZpEknkck78RnVow);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    text-align: center;
}

.tododiv{
    background-color: #FFFFE6;
    border-radius: 20px;
}

/* ul{
    list-style: none;
} */

.done{
    text-decoration: line-through;
}